.shine-font {
  background: -webkit-linear-gradient(
    left,
    #8c2b1f 0%,
    $deep-red 24%,
    #8c2b1f 36%,
    $deep-red 46%,
    #8c2b1f 52%,
    $deep-red 58%,
    $deep-red 67%,
    #8c2b1f 100%
  );
  background-size: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-size: 300%;
  -webkit-animation: font-shine 10s infinite;
  animation: font-shine 10s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shine-font2 {
  background: -webkit-linear-gradient(
    left,
    #fff5f3 0%,
    #fee4dc 24%,
    #fff5f3 36%,
    #fee4dc 46%,
    #fff5f3 52%,
    #fee4dc 58%,
    #fee4dc 67%,
    #fff5f3 100%
  );
  background-size: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-size: 300%;
  -webkit-animation: font-shine 10s infinite;
  animation: font-shine 10s infinite;
  -webkit-background-clip: text;
  //-webkit-text-fill-color: #fff; //for new section
  -webkit-text-fill-color: transparent;
  
}

.shine-font3 {
  background: -webkit-linear-gradient(
    left,
    #cd5243 0%,
    #f7c2bb 25%,
    #cd5243 52%,
    #f7c2bb 75%,
    #cd5243 100%
  );
  background-size: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-size: 300%;
  -webkit-animation: font-shine 10s infinite;
  animation: font-shine 10s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}